<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lowcoupling.com/dotEditor/Dot" 
       class = "com.lowcoupling.dotEditor.dot.DotPackage"
       genModel = "com/lowcoupling/dotEditor/Dot.genmodel" /> 
	
  </extension>



</plugin>
